// footer

footer {
  background: #f5f5f5;
  padding: 10px 0;

  .container {
    padding: 0 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .box-left {

    .box-menu {

      ul {
        display: flex;
        align-items: center;

        li {

          a {
            margin-right: 10px;
            font-size: 11px;
            font-weight: 300;
          }
        }
      }
    }
  }
  }


}